/*
    This is the main stylesheet for the ecommerce website
*/

.body{ /*just for the main body*/
    background-color: aquamarine;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
}

.header{ /*for the top section which should contain the logo, account and basket*/
    display:flex;
    flex:0.15;
    background-color: blue;
    flex-direction: row;
}

/*located in the header*/
.logo{
background-color: brown;
display:flex;
flex:0.2;
align-items: center;
justify-content: center;
}

.search-bar{
    background-color: beige;
    display:flex;
    flex:0.8;
    align-items: center;
    
}

.search-pls{
    height:45%;
    width: 10%;
    font-size: 25px;
}

.search-pls:hover{
    cursor: pointer;
}


/*
    just for the basket where we can store what's added by the user.
*/
.basket{
    background-color: brown;
    display:flex;
    flex:0.2;
    align-items: center;
    justify-content: center;
    
}
.basket-btn{
    height:12vh;
    width:12vw;
    font-size: 25px;
}

.basket-btn:hover{
    cursor: pointer;
}

.basket-display{
    height:90%;
    width:95%;
    background-color: blueviolet;
    margin-top:3%;
}

.category-list{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}

.specific-item{
    margin:10%;
}

.addItem-btn{
    background-color: crimson;
}


/*
    the nav bar for user to see selection of items.
*/
.nav-bar{
    display:flex;
    flex-direction: row;
    background-color: blue;
    width:100%;
    height:10%;
    align-items: center;
}

.nav-section{
    margin-left:3%;
    margin-right:3%;
    height:100%;
    width:12%;
    border:none;
    background-color: blue;
    
    
}

.nav-section:hover{
    cursor: pointer;
    background-color: blueviolet;
}

.content{ /*displays content e.g. product selection, checkout*/
    display:flex;
    flex:0.7;
    background-color: aquamarine;
    color:black;
    justify-content: space-evenly;
}

.footer{ /*display address and contact details of company*/
    display:flex;
    flex-direction: row;
    flex:0.15;
    background-color: blue;
}

/*located in the footer*/
.footer-section1{
    background-color: blueviolet;
    display:flex;
    flex-direction: column;
    flex:0.333;
    justify-content: center;

}

.footer-section2{
    background-color: pink;
    display:flex;
    flex-direction: column;
    flex:0.333;
    justify-content: center;
}

.footer-section3{
    background-color: blueviolet;
    display:flex;
    flex:0.333;
    flex-direction: column;
    justify-content: center;
}