.body{ /*just for the main body*/
    background-color: aquamarine;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
}

.header{ /*for the top section which should contain the logo, account and basket*/
    display:flex;
    flex:0.15;
    background-color: blue;
    flex-direction: row;
}

/*located in the header*/
.logo{
background-color: brown;
display:flex;
flex:0.33;
}

.search-bar{
    background-color: beige;
    display:flex;
    flex:0.333;
}

.basket{
    background-color: brown;
    display:flex;
    flex:0.333;
    
}

.content{ /*displays content e.g. product selection, checkout*/
    display:flex;
    flex:0.7;
    background-color: aquamarine;
}

.footer{ /*display address and contact details of company*/
    display:flex;
    flex-direction: row;
    flex:0.15;
    background-color: blue;
}

/*located in the footer*/
.footer-section1{
    background-color: blueviolet;
    display:flex;
    flex-direction: column;
    flex:0.333;
    justify-content: center;

}

.footer-section2{
    background-color: pink;
    display:flex;
    flex-direction: column;
    flex:0.333;
    justify-content: center;
}

.footer-section3{
    background-color: blueviolet;
    display:flex;
    flex:0.333;
    flex-direction: column;
    justify-content: center;
}